body{
    display: flex;
    flex-direction: row;
    background-color: lightgray;

}
#left{
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
    font-size: 37px;
}
#center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: 60px;
    
}

#right{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: end;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 25px;
}

canvas{  
    border: 4px solid black;
    border-radius: 10px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    margin-top: 10px;
}

img{
    border: 3px solid black;
    border-radius: 5px;
}
